# ignoring emacs files
*~

# algorithms might have some binaries in'em and there's no reason to push them
a.out

# ignoring temporary files that come out of compiling tex's
*.log
*.out
*.toc
*.aux
*.gz
*.bbl
*.blg

# that folder contains symbolic links to the current books
current_books
